<div class="error">
    <p>You have to link your AdEntify account to the plugin before using it, please connect to your AdEntify account on adentify.com and go to this <a href="{{ authorization_url }}">url to authorized the Plugin Wordpress app</a>.</p>
</div>