<form id="ad-person-tag-form" data-tag-type="person">
    <div class="tag-form tab-pane active" id="tag-person" style="display: none">
        <div class="form-group">
            <input class="form-control" id="person-name" name="name" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" id="person-description" name="description" type="text" placeholder="Person description">
        </div>
        <div class="form-group">
            <input class="form-control" id="person-url" name="url" type="text" placeholder="Personne url">
        </div>
        <p class="submit-tag">
            <button id="submit-tag-person" type="submit">Confirm and add tag</button>
            <button id="cancel-tag-person">Cancel</button>
        </p>
        <div id="ad-posting-tag-person" class="loading-gif-container" style="display: none">
            <div class="loader rotate">
                <div class="loading-gif"></div>
            </div>
        </div>
    </div>
</form>