<form id="ad-product-tag-form" data-tag-type="product">
    <div class="tag-form tab-pane active" id="tag-product">
        <div class="form-group">
            <input class="form-control" id="product-name" name="product" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" id="brand-name" name="brand" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" id="product-url" name="url" type="text" placeholder="Product url">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="product-description" placeholder="Product description" name="description"></textarea>
        </div>
        <p class="submit-tag">
            <button id="submit-tag-product" type="submit">Confirm and add tag</button>
            <button id="cancel-tag-product">Cancel</button>
        </p>
        <div id="ad-posting-tag-product" class="loading-gif-container" style="display: none">
            <div class="loader rotate">
                <div class="loading-gif"></div>
            </div>
        </div>
    </div>
</form>