<script type="text/html" id="adentify-tag-modal-template">
    <div tabindex="0" id="__wp-uploader-id-3" class="supports-drag-drop" style="position: relative;">
        <div class="media-modal wp-core-ui">
            <a id="adentify-modal-close2" class="media-modal-close" href="#"><span class="media-modal-icon"><span class="screen-reader-text">Fermer le panneau des médias</span></span></a>
            <div class="media-modal-content">
                <div class="media-frame mode-select wp-core-ui" id="__wp-uploader-id-0">
                    <div class="ad-media-frame-title"><h1>Tag your photo</h1></div>
                    <div id="ad-display-photo" class="ad-media-frame-content">
                        <div id="ad-wrapper-2">
                            <div id="ad-wrapper-tag-photo">
                                <div class="photo-overlay">
                                    <div class="tags-container"></div>
                                </div>
                                {# image goes here #}
                            </div>
                        </div>
                    </div>
                    <div class="ad-tag-router">
                        <div class="media-router">
                            <a id="ad-tag-product-tab" href="#" class="media-menu-item active">Produit</a>
                            <a id="ad-tag-venue-tab" href="#" class="media-menu-item">Lieu</a>
                            <a id="ad-tag-person-tab" href="#" class="media-menu-item">Personne</a>
                        </div>
                    </div>
                    <div class="media-sidebar" style="top: 84px; bottom: 61px; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; width: 467px; background-color: #f3f3f3">
                        {# tagging menu #}
                        <div class="ad-tag-frame-content">
                            {% include 'admin/modals/tag.product.html.twig' %}
                            {% include 'admin/modals/tag.venue.html.twig' %}
                            {% include 'admin/modals/tag.person.html.twig' %}
                        </div>
                    </div>
                    <div class="ad-media-frame-toolbar">
                        <div class="media-toolbar">
                            <div class="media-toolbar-primary search-form">
                                <a tabindex="0" id="ad-back-to-library" href="#" class="button media-button button-primary button-large media-button-insert">Précédent</a>
                                <a tabindex="0" id="ad-insert-after-tag" href="#" class="button media-button button-primary button-large media-button-insert">Terminer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="adentify-modal-backdrop2" class="ad-media-modal-backdrop"></div>
    </div>
</script>